<%# Listing 7.24 %>
<% if object.errors.any? %>
<%# Listing 10.32 <% if @user.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
    <%# Listing 10.32  The form contains <%= pluralize(@user.errors.count, "error") %>.
       The form contains <%= pluralize(object.errors.count, "error") %>.

    </div>
    <ul>
    <%# Listing 10.32 <% @user.errors.full_messages.each do |msg| %>
    <% object.errors.full_messages.each do |msg| %>
      <li>* <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%# end Listing 7.24 %>